/* Use your own code or past solution for Great Idea Web Page CSS here! */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

body{
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2% 5%;
	Height: 1200px;
}

nav{
	display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.logo {
    width: 20%;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

a{
	color:gray;
	margin: 2%;
	text-decoration: none;
}

h1{
	font-size: 400%;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 4% 0%;
    border-bottom: solid 2px black;
}

.getstart{
    border: black 1px solid;
    padding: 1% 8%;
}

.headerdiv{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
    padding-right: 10%;
}

.firstsec{
	display: flex;
	justify-content: space-between;
	padding: 3% 0%;
}

.firstsec div{
	width: 48%;
}


.middle-img{
	width: 100%;
}

.secsec{
	border-bottom: 2px black solid;
	display: flex;
	justify-content: space-between;
	padding: 3% 0%;
}

.secsec div{
	width: 30%;
}

.contact{
	padding: 3% 0%;
}

footer{
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 2%;
}

/* CSS for the tablet version */
@media(max-width: 800px) {

    nav {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .logo{
        width: 25%;
    }

    .navdiv{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 4%;
    }

    header{
        display: flex;
        justify-content: center;
        padding-bottom: 8%;
    }

    .headerdiv{
        padding: 0%;
    }

    .firstpic{
        display: none;
    }
}

/* CSS for mobile */

@media(max-width: 500px) {

    body {
        padding: 0%;
        height: 100%;
    }

    nav {
        padding-top: 110%;
    }

    .logo {
        width: 30%;
    }

    .navdiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-bottom: gray 1px solid;
        padding-top: 2%;
    }

    a {
        border-top: gray 1px solid;
        width: 100%;
        text-align: center;
        padding-top: 3%;
    }

    .secondbody {
        padding: 0% 4%;
    }

    .headerdiv{
        padding-top: 5%;
    }

    .firstsec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .firstsec div {
        width: 100%;
        padding: 3% 0%;
    }

    .secsec {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .secsec div {
        width: 100%;
        padding: 3% 0%;
    }

    .contact {
        padding: 5% 0%;
    }

    footer {
        padding-top: 4%;
        padding-bottom: 3%;
    }

} 